.c-goals{
h2{
	margin-bottom: 46px;
}
	p{
		@include font-size(17px,1.8);
		color: #212121;
	}
	ul{
		gap: 12px 60px;
		margin: 24px 0 18px;
	}
	li{
		width: calc(33.33% - 40px);
		list-style: none;
		gap: 8px;
	}
	&__img{
		background: linear-gradient(360deg, #960096 0%, #492464 100%);
		border-radius: 8px;
		box-sizing: border-box;
		padding: 12px;
		width: 75px;
		height: 75px;
	}
	&__txt{
		@include font-size(22px,1.6);
		flex: 1 1 0%;
		border: 1px solid #9999A1;
		border-radius: 8px;
		box-sizing: border-box;
		padding: 12px;
	}
}
