.c-section--statistics{
	@include mq($until:md){
		display: none;
	}
}
.c-statistics {
	padding: 38px 60px;
	background-image: url("../images/bg-statistics.png");
	border: 4px solid #D1913C;
	border-radius: 8px;
	ul{
		@include mq($until: md) {
			flex-direction: column;
		}
	}
	li{
		list-style: none;
		color: var(--color-white);
		flex: 1;
		strong{
			@include font-size(40px,1.6);
		}
		span{
			@include font-size(20px,1.6);
		}
	}
}
