.c-footer {
	background: #EDF2F4;
	@include mq($until: md) {
	padding: 0 50px;
}
	h3 {
		color: #871279;
		@include font-size(20px, 1.6);
	}

	&__logo {
		text-align: center;
		padding-top: 27px;

		img {
			width: 109px;
		}
	}

	&__content {
		gap: 120px;
		@include mq($from: md, $until: desktop) {
			gap: 70px;
		}
		@include mq($until: md) {
			gap: 24px;
			flex-direction: column;
		}
	}

	&__column {
		flex: 1;

		a, p {
			@include font-size(14px, 1.8);
			color: #871279;
			text-align: justify;
		}

		li {
			gap: 16px;

			&:before {
				content: "";
				width: 9px;
				height: 9px;
				display: flex;
				background-image: url('data:image/svg+xml,<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.950512 7.42115L6.53649 0H9.41866L3.83268 7.42115L9.41866 14.8825L9.53613 15H6.65396L6.53649 14.8825L0.950512 7.42115Z" fill="%23871279"/></svg>');
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
span{
	display: block;
}
		@include mq($until: md) {

			&:first-child {
				display: none;
			}
		}
	}

	&__certificated {
		text-align: left;
		margin-top: 48px;
		@include mq($until: md) {
			margin-top: 18px;
			margin-bottom: 12px;
		}
		img {
			height: 100%;
			width: auto;
		}
	}

	.c-footer-social {
		gap: 16px;
		@include mq($until: md) {
		display: none;
		}
		img {
			width: 22px;
		}
	}

	.phone-number {
		gap: 14px;
		@include mq($until: md) {
		margin-top: 18px;
		}
		&:after {
			content: "";
			background-image: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.5298 24.9995C21.0746 24.9225 20.6194 24.8482 20.1656 24.768C17.9313 24.3715 15.8079 23.6391 13.8117 22.5702C8.73868 19.854 4.86494 15.9405 2.23876 10.814C1.04207 8.47735 0.308412 5.99267 0.00907726 3.38213C-0.0430943 2.92693 0.129072 2.60607 0.539923 2.41173C2.15594 1.64872 3.77325 0.887014 5.39122 0.127916C5.83794 -0.0820756 6.27162 0.0372672 6.5403 0.452032C7.55178 2.01523 8.55999 3.58103 9.56495 5.14814C9.83233 5.56551 9.78342 5.96332 9.42995 6.32005C8.8515 6.90372 8.28022 7.49587 7.68286 8.05932C7.34179 8.38148 7.25701 8.73951 7.33983 9.18362C7.66264 10.9131 8.4413 12.4222 9.55321 13.7656C10.7701 15.2362 12.225 16.4101 14.0106 17.1157C14.6549 17.37 15.3469 17.5076 16.0218 17.6772C16.3479 17.7594 16.6231 17.625 16.8572 17.3883C17.4461 16.7922 18.0409 16.2014 18.6343 15.6092C19.0458 15.1984 19.4143 15.1553 19.9001 15.4671C21.4327 16.4511 22.9646 17.4359 24.4951 18.4232C24.9627 18.7245 25.084 19.1426 24.8493 19.6427C24.1006 21.2392 23.3454 22.8324 22.6007 24.4302C22.4676 24.7158 22.2492 24.886 21.97 24.9988H21.5305L21.5298 24.9995Z" fill="%23871279"/><path d="M24.9975 12.6947C24.8821 12.9497 24.7452 13.1806 24.4654 13.2941C23.8974 13.5243 23.2994 13.1395 23.2811 12.5069C23.2511 11.4452 23.1442 10.3946 22.8057 9.38444C21.4362 5.30004 18.6444 2.79384 14.425 1.90953C13.825 1.78367 13.1996 1.74584 12.5846 1.73084C12.001 1.71715 11.626 1.30891 11.6377 0.834143C11.6508 0.321556 12.0466 -0.00451771 12.6355 4.73185e-05C18.5244 0.0437411 23.6404 4.30617 24.7595 10.1077C24.8502 10.5772 24.8906 11.0565 24.9565 11.5307C24.9649 11.5939 24.9839 11.6552 24.9982 11.7178V12.6941L24.9975 12.6947Z" fill="%23871279"/><path d="M20.6676 12.1143C20.6676 12.2923 20.6911 12.4749 20.6631 12.6484C20.5946 13.0756 20.2222 13.375 19.8054 13.3645C19.3821 13.3541 19.0293 13.0469 18.9745 12.6165C18.9204 12.1899 18.9171 11.7555 18.8441 11.3329C18.3732 8.60601 16.0865 6.43154 13.3525 6.09891C13.087 6.0663 12.8183 6.05521 12.5509 6.04021C11.992 6.00826 11.6091 5.63584 11.6313 5.14277C11.6541 4.63731 12.0539 4.29751 12.6103 4.3099C16.6285 4.39664 19.9287 7.26311 20.5855 11.2416C20.6331 11.5299 20.6494 11.8227 20.68 12.1136C20.6761 12.1136 20.6716 12.1136 20.6676 12.1143Z" fill="%23871279"/></svg>');
			display: flex;
			background-size: contain;
			background-repeat: no-repeat;
			height: 22px;
			width: 22px;
			margin-top: 6px;
		}

		a {
			width: 100%;
			text-align: left;
			@include font-size(19px, 1.6);
			font-weight: bold;
		}
	}

	.email {
		gap: 14px;

		&:after {
			content: "";
			background-image: url('data:image/svg+xml,<svg width="29" height="21" viewBox="0 0 29 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.0269 5.9016V18.7655C28.0167 18.7801 27.9999 18.7933 27.9962 18.8094C27.6255 20.2939 26.7231 20.9996 25.1918 20.9996C17.7386 20.9996 10.2861 20.9996 2.83294 20.9996C2.74153 20.9996 2.65012 21.001 2.55945 20.9974C1.08958 20.9447 0.00436012 19.8398 0.00289756 18.3699C-0.00222138 14.2828 0.00070373 10.1964 0.00216629 6.10929C0.00216629 6.04347 0.0153293 5.97839 0.0248359 5.89648C0.0818756 5.93159 0.114052 5.94914 0.143303 5.96888C3.93571 8.49764 7.72739 11.0271 11.5198 13.5559C13.1535 14.6448 14.8712 14.6477 16.5086 13.5574C20.2491 11.0666 23.9866 8.5715 27.7257 6.0793C27.8229 6.01495 27.9268 5.96011 28.0277 5.90087L28.0269 5.9016Z" fill="%23871279"/><path d="M28.0275 2.94518C27.928 3.21649 27.8776 3.52216 27.7174 3.75105C27.4871 4.08086 27.2223 4.42236 26.894 4.64321C23.0899 7.20268 19.2748 9.7468 15.4524 12.2792C14.5098 12.9037 13.5153 12.9015 12.5734 12.277C8.74366 9.73949 4.92346 7.1866 1.10326 4.6337C0.186241 4.02089 -0.193292 2.95981 0.0984879 1.90092C0.396118 0.819357 1.32265 0.0807656 2.47807 0.00617524C2.55997 0.00105629 2.64187 0.000325013 2.72451 0.000325013C10.2508 0.000325013 17.7764 -0.000406266 25.3027 0.000325013C26.5496 0.000325013 27.5236 0.667251 27.8922 1.76709C27.9434 1.92066 27.9836 2.07862 28.0289 2.23438V2.94591L28.0275 2.94518Z" fill="%23871279"/></svg>');
			background-size: contain;
			background-repeat: no-repeat;
			display: flex;
			height: 22px;
			width: 22px;
		}
	}
}

.copyright {
	background: #212121;

	p {
		color: var(--color-white);
		@include font-size(14px, 1.8);
		padding: 12px 0;
		@include mq($until: md) {
			@include font-size(12px, 1.8);
		}
	}
}
