body,
html {
  font-family: $IRANSansX;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #000;
  background: #fff;
}
.main {
  background-color: #fff;
}
a{
	text-decoration: none;
}
