///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-font-size: 16px;
$IRANSansX: 'IRANSansX', serif;
$border-radius: 0.5rem;
